%h3 Abstract
.markdown{ data: { 'field-id' => 'proposal_abstract' } }
  = proposal.abstract

%h3 Details
.markdown{ data: { 'field-id' => 'proposal_details' } }
  = proposal.details

%h3 Pitch
.markdown{ data: { 'field-id' => 'proposal_pitch' } }
  =proposal.pitch
